# Ignore everything
*

# But allow all .cpp files
!*.cpp

# Also allow folders (so you can have organized folders like "arrays/", "dp/" etc.)
!*/

# Optional: allow this gitignore file itself
!.gitignore

